libreoffice-l10n-__lang__: libreoffice-l10n-__lang__ __longlang__
libreoffice-l10n-__lang__:
libreoffice-l10n-__lang__: __longlang__ language pack for LibreOffice
libreoffice-l10n-__lang__: Use this package if you want to run LibreOffice in
libreoffice-l10n-__lang__: __longlang__.
libreoffice-l10n-__lang__:
libreoffice-l10n-__lang__:
libreoffice-l10n-__lang__:
libreoffice-l10n-__lang__:
libreoffice-l10n-__lang__:
libreoffice-l10n-__lang__:
